*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ////////////////////////////////////// */

body {
    font-size: 1rem;
    font-family: "Roboto Mono", monospace;
    background-color: #191919;
    color: #fdfdfd;
}

header {
    padding-block: 1rem;
    border-bottom: #a0a0a0;
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; */
}

header #logo {
    margin-inline-end: 1rem;
}

nav {
    max-width: 90%;
    margin-inline: auto;
}

nav a {
    color: #fdfdfd;
    text-decoration: none;
    font-size: 1.35rem;
}

main {
    padding-block: 1rem;
    display: grid;
    gap: 1rem;
}

#hero {
    display: grid;
    gap: 2rem;
    padding: 2rem;
}

#searchForm {
    max-width: 25rem;
}

h1 {
    text-align: center;
    max-width: 80%;
    margin-inline: auto;
}

.primaryColor {
    color: #4f87f5;
}

form {
    max-width: 100%;
    display: grid;
    gap: 0.8rem;
}

input {
    outline: none;
}

input,
select {
    background-color: #25262b;
    color: #666;
    /* margin-inline: auto; */
    max-width: 100%;
    font: inherit;
    padding: 0.5rem 0.75rem;
    border: 1px #c0c0c0 solid;
    border-radius: 0.5rem;
    line-height: 1.5rem;
    box-shadow: 3px 3px 5px gray;
}

#go {
    font: inherit;
    font-weight: bold;
    cursor: pointer;
    border: none;
    font-size: inherit;
    padding-block: 0.7rem;
    padding-inline: 1.3rem;
    /* margin-inline: auto; */
    /* margin-block: 1rem; */
    border-radius: 5px;
    background-color: #144bb8;
    color: #fff;
    box-shadow: 3px 3px 5px gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#go:hover {
    transition: color 250ms;
    background-color: #1644a7;
    -webkit-transition: color 250ms;
    -moz-transition: color 250ms;
    -ms-transition: color 250ms;
    -o-transition: color 250ms;
}

#jobs {
    display: grid;
    gap: 1rem;
}

.jobPost {
    max-width: 90%;
    margin-inline: auto;
    border: 1px #373a40 solid;
    border-radius: 15px;
    box-shadow: 3px 3px 5px gray;
    background-color: #25262b;
    color: #c1c2c5;
    padding: 1rem;
    transition: 0.25s ease-in-out;
}

.jobPost:hover {
    transform: scale(1.015);
}

.jobHeading{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.jobLogo{
    width: 50px;
    height: 50px;
    align-self: center;
}

.jobText{
display: flex;
flex-direction: column;
padding-left: 1rem;
}

.jobTitle {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
}

/* .companyName{

} */

.jobContent {
    display: grid;
    gap: 0.3rem;
}

.location {
    font-size: 0.8rem;
    font-style: italic;
    color: #c1c2c5;
}

.jobSalary {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.moneyLogo {
   height: 20px;
   width: 20px;
}

/* .jobURL {
    color: #000;
    text-transform: uppercase;
    margin-block-start: auto;
} */

/* .jobURL:hover {
    color: #00f;
} */

.description {
    margin-block: 0.7rem;
    font-size: 0.95rem;
    /* max-height: 5.1rem; */
    overflow: hidden;
}

@media (min-width: 600px) {
    main {
        padding-block: 2rem;
        padding-inline: 1.5rem;
    }

    /* #jobs {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1.5rem;
    } */

    .jobPost {
        max-width: 50rem;
    }
}

@media (min-width: 1100px) {
    main {
        max-width: 80%;
        margin-inline: auto;
    }

    #jobs {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}
