*,*::after,*::before {
padding: 0;
margin: 0;
box-sizing: border-box; 
};

/* ////////////////////////////////////// */

body {
    font-size: 1rem;
}

main{
    display: grid;
    gap: 1rem;
    font-family: 'Roboto Mono', monospace;
}

nav{
    font-family: 'Roboto Mono', monospace;
    height: 2.5rem;
    background-color: #d0d0d0;
    font-size: 1.5rem;
    padding: .5rem;
    padding-bottom: 2.5rem;
    border-bottom: #a0a0a0;
    /* to keep the navbar sticking to the top */
    position:sticky;
    position: -webkit-sticky;
	top: 0;
}

nav a{
    color: black;
    text-decoration: none;
    padding-right: 2rem;
}

form{
    display: grid;
    gap: .5rem;
    font-family: 'Roboto Mono', monospace;
}

input,select{
    padding: .3rem;
    display: block;
    /* width: 95%; */
    border: 1px #c0c0c0 solid;
    border-radius: .5rem;
    line-height: 1.5rem;
    box-shadow: 3px 3px 5px gray;
}

h1 {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: 'Roboto Mono', monospace;
}


.jobPost{
    margin:1rem;
    border: 1px #c0c0c0 solid;
    border-radius: 15px;
    box-shadow: 3px 3px 5px gray;
    background-color: #fdfdfd;
    display: grid;
    gap:.75rem;
}

.jobTitle{
    font-size: 1.25rem;
    font-weight: 600;
    background-color: lightgray;
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    padding: 0.3rem .5rem;
}

.jobContent{
    padding: 0 .5rem;
}

.description{
    height: 5.25rem;
    overflow: hidden;
}


#go{
    border: none;
    font-size: inherit;
    padding-block: .5rem;
    padding-inline: 1rem;
    margin-inline: auto;
    margin-top: 1.5rem;
    border-radius: 5px;
    background-color: #c0c0c0;
    box-shadow: 3px 3px 5px gray;
}

#go:hover{
    transition: 250ms;
    background-color: #d0d0d0;
}


